<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    {% if students %}
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Grade</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.rollNumber }}</td>
            <td>{{ student.marks }}</td>
            <td> <a href = '/delete_student/{{student.id}}'>Delete</a></td>
            <td> <a href = '/update_student/{{student.id}}'>Update</a></td>
        </tr>
        
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>